/**
 * Variables
*/

/* Typography */

/* Breakpoints */

/* Paths */

/* Grid setup */

/* Colour palette */
$black: #000;
$white: #fff;
$cor-principal: $white;
$cor-de-fundo: #1b1b1b;

/* Components */
