<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="manifest" href="/site.webmanifest">

  <title>Título</title>

  {{> partials/_gtm }}
</head>

<body itemscope itemtype="http://schema.org/WebPage">
  <header>

  </header>
  <main role="main">
    <h1>Olá!</h1>
  </main>
</body>

</html>